.audience {
  background-color: $color-light-blue;
  padding: 50px 15px;

  @include for-large-up {
    width: 1400px;
    height: 983px;
    padding: 108px 0 110px 0;
  }

  &__information {
    display: flex;
    flex-direction: column;
    @include for-large-up {
      align-items: center;
    }

    &_link {
      text-align: center;
      font-weight: 700;
      font-size: 22px;
      line-height: 34px;
      text-decoration: none;
      color: $text-color-dark;
    }
    &_title {
      display: block;
      width: 290px;
      height: 80px;
      font-weight: 700;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.357143px;
      margin-top: 17px;
      color: $text-color-dark;
      margin-bottom: 0;

      @include for-large-up {
        width: 555px;
        height: 112px;
        font-size: 56px;
        line-height: 56px;
        letter-spacing: -0.5px;
        margin-top: 24px;
      }
    }
    &_description {
      display: block;
      width: 290px;
      height: 136px;
      font-size: 24px;
      line-height: 34px;
      text-align: center;
      margin-top: 18px;
      margin-bottom: 30px;
      @include for-large-up {
        width: 555px;
        height: 72px;
        margin-top: 30px;
        margin-bottom: 0px;
      }
    }
  }
  &__actions {
    @include for-large-up {
      margin-top: 34px;
    }
    &_button {
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 1e-5) 100%
        ),
        #3040c4;
      background-blend-mode: overlay, normal;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
        0px 4px 6px rgba(0, 0, 0, 0.05),
        inset 0px 1px 0px rgba(255, 255, 255, 0.1);
      @include for-large-down {
        width: 290px;
        padding: 0;
      }
    }
    &_learn-more-btn {
      color: black;
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.05) 0%,
          rgba(255, 255, 255, 1e-5) 100%
        ),
        #fff;
      background-blend-mode: overlay, normal;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
        0px 4px 6px rgba(0, 0, 0, 0.05),
        inset 0px 1px 0px rgba(255, 255, 255, 0.1);
      width: 290px;
      height: 48px;
      font-size: 18px;
      line-height: 13px;
      font-weight: 700;
      border: none;
      border-radius: 2px;
      margin-top: 12px;
      padding: 0;
      @include for-large-up {
        width: 158px;
        margin-top: 0;
      }
    }
  }
}
.categories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;

  @include for-large-up {
    flex-direction: row;
    margin-top: 111px;
    margin-bottom: 110px;
  }

  &__item {
    width: 290px;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: $text-color-dark;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.05) 0%,
        rgba(255, 255, 255, 1e-5) 100%
      ),
      #ffffff;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 15px;
    @include for-large-up {
      width: 262px;
      margin-right: 30px;
      margin-bottom: 0;
    }

    &:hover {
      background: $color-dark-blue;
      color: white;
      box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
        0px 11px 55px rgba(0, 0, 0, 0.07);
      border-radius: 8px;
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
    &_image {
      margin: 22px auto;
      height: 195px;
    }
    &_name {
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
      text-align: center;
      margin-bottom: 33px;
    }
  }
}

.image-developers {
  width: 138px;
}
.image-entertainment {
  width: 142px;
}
.image-athlets {
  width: 160px;
}
.image-creators {
  width: 119px;
}
